<form action="/create" method="POST">
    <h2>Create todo</h2>

    <div class="input-field">
        <input id="todo" type="text" name="title" placeholder="Todo">
    </div>

    <button type="submit" class="btn">Create</button>
</form>